<header>
  <nav>
    <div class="logo-div" routerLink="">
      <img class="logo-img" src="assets/logo.png" alt="logo" />
      <p>sannos</p>
    </div>
    <ul class="nav-ul">
      <li routerLink="">Home</li>
      <li routerLink="portfolio">Portfolio</li>
      <li routerLink="message">Contact</li>
    </ul>
    <div class="mobile-menu" (click)="toggleMenu()">
      <i [ngClass]="menuIconClass"></i>
    </div>
    <div *ngIf="isMenuOpen" class="mobile-navigator">
      <ul class="mobile-nav-ul">
        <li routerLink="" class="mobile-li" (click)="closeMenu()">Home</li>
        <li routerLink="portfolio" class="mobile-li" (click)="closeMenu()">Portfolio</li>
        <li routerLink="message" class="mobile-li" (click)="closeMenu()">Contact</li>
      </ul>
    </div>
  </nav>
</header>
