@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
  list-style: none;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body
{
background: #000000;

}

.loading-spinner{
  background: #00313400;
  height: 100vh;
  width: 100%;


}
.loader-img img{
width: 250px;
animation: loaderanimation 2s infinite ;
}
.loading-spinner .loader-img{
width: 100%; display: flex;
align-items: center;
justify-content: center;
height: 100vh;
}


@keyframes loaderanimation {
0%{
rotate: 0deg;

}
100%{
  rotate: 360deg;
}
}

@media (min-width: 1380px) {
  header,section,footer {
    max-width: 1380px;
    padding: 11px 0;
    margin:  auto;
  }

}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #2b2b2b;
  border-left: solid 1px #ffffff41;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #595959;
}
